<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Profile: Edit profile</title>
    <link rel="stylesheet" href="../../assets/stylesheets/style.css"/>
    <link rel="stylesheet" href="jquery-ui-1.11.2/jquery-ui-1.11.2/jquery-ui.css" />
    <script src="jquery-1.11.1.min.js"></script>
    <script src="jquery-ui-1.11.2/jquery-ui-1.11.2/jquery-ui.js"></script>
    <script src="profile.js"></script>
    <script src="Detailsproverka.js"></script>
    <script>
        $(function () {
            $( "#datepicker" ).datepicker({ dateFormat: "dd/mm/yy" }, {
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {

            $('html').addClass($.fn.details.support ? 'details' : 'no-details');
            $('details').details();
        });
    </script>
</head>
<body>
<header>
    <ul>
        <li><a href="index.html"><img src="Hogwartscrest.png" width="50" alt="University image"/></a></li>
        <a href="index.html"><canvas id = "text" width = "200" height = "50"></canvas></a>
        <script>
            var canvas = document.getElementById("text");
            var context = canvas.getContext("2d");

            context.font = "bold 30px sans-serif";
            context.textAlign = "center";
            context.lineWidth = 2;
            context.strokeStyle = "black";
            context.strokeText("E-Classroom", 100, 40);
        </script>
        <li id="login">You are currently using guest access
            (<a href="index.html">log in</a>)</li>
    </ul>
</header>


<section>
    <div class="laside">
        <nav>
            <h3>Navigation</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="myprofile.html">My profile</a></li>
                <li id="except"><details>
                    <summary><a href="mycourses.html">My courses</a></summary>
                    <ul id="mycourses">
                        <li><a href="predmet.html">Defence Against the Dark Arts</a></li>
                        <li><a href="predmet.html">Flying</a></li>
                        <li><a href="predmet.html">Potions</a></li>
                    </ul>
                </details></li>
            </ul>
        </nav>

        <div class="Administration">
            <h3>Administration</h3>
            <ul>
                <li><a href="editprofile.html">Edit profile</a></li>
                <li><a href="change.html">Change password</a></li>
                <li><a href="messaging.html">Messaging</a></li>
            </ul>
        </div>

        <div class="events">
            <h3>Upcoming events</h3>
            <p>No upcoming events</p>
        </div>
    </div>

    <div class="centers">
        <div class="right">
            <form method = "post"  id="prof">
                <p>
                    <label>First name &#160&#160
                        <input type = "text" id="firstname" class="box2" value="Steven"/>
                    </label>
                </p>
                <p>
                    <label>Surname &#160&#160
                        <input type = "text" id="surname" class="box2" value="Seagull"/>
                    </label>
                </p>
                <p>
                    <label>Telephone &#160&#160
                        <input type = "tel" id="telephone" class="box2" value="030-123-321"/>
                    </label>
                </p>
                <p>
                    <label>Telephone display &#160&#160
                        <input list="moznosti" id="teldisp" class="box2"/>
                        <datalist id="moznosti">
                            <option>Hide my telephone from everyone</option>
                            <option>Allow everyone to see my phone no.</option>
                            <option>Allow only other course members to see my phone no.</option>
                        </datalist>
                    </label>
                </p>
                <p>
                    <label>Email address &#160&#160
                        <input type = "email" id="email" class="box2" value="niko@mail.com"/>
                    </label>
                </p>
                <p>
                    <label>Email display &#160&#160
                        <input list="moznosti2" id="emaildisp" class="box2"/>
                        <datalist id="moznosti2">
                            <option>Hide my email address from everyone</option>
                            <option>Allow everyone to see my address</option>
                            <option>Allow only other course members to see my address</option>
                        </datalist>
                    </label>
                </p>
                <p>
                    <label>City/town &#160&#160
                        <input type = "text" id="city" class="box2" value="Ljubljana"/>
                    </label>
                </p>
                <p>
                    <label>Country &#160&#160
                        <input type = "text" id="country" class="box2" value="Slovenia"/>
                    </label>
                </p>
                <p id="Birthday">
                    <label>Date of birth &#160&#160
                        <input type="text" id="datepicker" value="10/04/1952"/>
                    </label>
                </p>
                <input type = "submit" value = "Update profile" id="gumb" />
                <input type = "reset" value = "Cancel" id="gumb2" />
            </form>
        </div>
    </div>


</section>
<footer>
    <h6>&copy; 2014-2015 by Hogwarts University of Witchcraft and Wizardry.</h6>
    <address>
        Contact us at dumbledore@hog.uni-lj.si
    </address>

</footer>
<script src="profiler.js"></script>
</body>
</html>