<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>E-Classroom: Messaging</title>
    <link rel="stylesheet" href="../../assets/stylesheets/style.css"/>
    <script src="jquery-1.11.1.min.js"></script>
    <script src="Detailsproverka.js"></script>
    <script>
            $('html').addClass($.fn.details.support ? 'details' : 'no-details');
            $('details').details();
        });
    </script>
</head>
<body>

<header>
    <ul>
        <li><a href="index.html"><img src="Hogwartscrest.png" width="50" alt="University image"/></a></li>
        <a href="index.html"><canvas id = "text" width = "200" height = "50"></canvas></a>
        <script>
            var canvas = document.getElementById("text");
            var context = canvas.getContext("2d");

            context.font = "bold 30px sans-serif";
            context.textAlign = "center";
            context.lineWidth = 2;
            context.strokeStyle = "black";
            context.strokeText("E-Classroom", 100, 40);
        </script>
        <li id="login">You are currently using guest access
            (<a href="index.html">log in</a>)</li>
    </ul>
</header>

<section>
    <div class="laside">
        <nav>
            <h3>Navigation</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="myprofile.html">My profile</a></li>
                <li id="except"><details>
                    <summary><a href="mycourses.html">My courses</a></summary>
                    <ul id="mycourses">
                        <li><a href="predmet.html">Defence Against the Dark Arts</a></li>
                        <li><a href="predmet.html">Flying</a></li>
                        <li><a href="predmet.html">Potions</a></li>
                    </ul>
                </details></li>
            </ul>
        </nav>

        <div class="Administration">
            <h3>Administration</h3>
            <ul>
                <li><a href="editprofile.html">Edit profile</a></li>
                <li><a href="change.html">Change password</a></li>
                <li><a href="messaging.html">Messaging</a></li>
            </ul>
        </div>

        <div class="events">
            <h3>Upcoming events</h3>
            <p>No upcoming events</p>
        </div>
    </div>

    <div class="center">
        <canvas id = "drawRectangle" width = "680" height = "500" style="z-index: -1; position:absolute;">
            Your browser does not support canvas.
        </canvas>
        <script>
            var canvas = document.getElementById("drawRectangle");
            var context = canvas.getContext("2d");
            context.fillStyle = "#90D895";
            context.fillRect(5, 20, 670, 475);
            context.strokeStyle = "#2B8731";
            context.lineWidth = 6;
            context.strokeRect(4, 19, 674, 479);
            context.fillStyle = "#2B8731";
            context.fillRect(20, 440, 640, 40);
        </script>
        <video width="640" height="480" style="margin-left: 20px;" controls>
            <source src="Video.mp4" type="video/mp4"/>
        </video>
    </div>


</section>

<footer>
    <h6>&copy; 2014-2015 by Hogwarts University of Witchcraft and Wizardry.</h6>
    <address>
        Contact us at dumbledore@hog.uni-lj.si
    </address>

</footer>
</body>
</html>